h4.of-settings {
    text-decoration: underline;
}

label.of-settings {
    text-transform: uppercase;
    text-decoration: underline;
}

.of-printing-parameter-title {
    text-transform: uppercase;
}
