div[name='order_line'] table.o_section_and_note_list_view th.o_list_button {
    width: 36px !important;
}

.order_line_tree > table > thead > tr > th.o_column_sortable[data-name='name'] {
    width:400px !important;
    max-width:400px !important;
}
