.invoice_line_tree > table > thead > tr > th.o_column_sortable[data-name='name'] {
    width:400px !important;
    max-width:400px !important;
}

.invoice_line_tree > table > thead > tr > th[data-name='product_id'] {
    width:130px !important;
    max-width:130px !important;
}
