/* On modifie l'aspect du tableau de synthèse des débours par section */

.of_outlay_analysis_line {
    tbody {
        td.o_list_number:not(.o_readonly) {
            background-color: #f9cb9c;
        }
        tr.text-success {
            background-color: #93c47d;
            color: #666666;
        }
    }

    th[data-id='amount_init'],
    th[data-id='amount_compl'],
    th[data-id='amount_studies'],
    th[data-id='amount_engaged'],
    th[data-id='amount_current'],
    th[data-id='amount_invoiced'],
    th[data-id='amount_final'],
    td[data-field='amount_init'],
    td[data-field='amount_compl'],
    td[data-field='amount_studies'],
    td[data-field='amount_engaged'],
    td[data-field='amount_current'],
    td[data-field='amount_invoiced'],
    td[data-field='amount_final'],
    {
        border-left: 2px solid #666666;
    }

}
