.of_border_primary {
  outline: 2px solid #337ab7;
}

.of_product-item {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

.of_product-img {
     height: 200px;
     text-align: center;
}

.of_product-img > span > img {
    max-width: 100%;
    max-height: 100%;
}
