[portal="B2B"] {

    a{
        &:hover,
        &:active,
        &:focus{
            color:@as-theme-b2b;
        }
    }
    div.carousel {
        .carousel-indicators {
            li {
                &:hover,
                &.active {
                    background: @as-theme-b2b !important;
                    border: 1px solid @as-theme-b2b;
                }
            }
        }
    }

    /* Pagination
    --------------------------------------*/
    .top-bread{
        .back-page{
            a {
                color: @as-theme-b2b;
            }
        }
    }

    .pagination{
        li{
            &.active,
            &.active:hover,
            &.active:focus,
            &:hover,
            &:focus{
                a {
                    background: @as-theme-b2b !important;
                    border-color: @as-theme-b2b !important;
                }
            }
        }
    }

    /* Toolbar
    --------------------------------------*/
    #products_grid{
        .products_pager{
            .view-mode{
                button {
                    &.active,
                    &:hover{
                        color:@as-theme-b2b;
                    }
                }
            }
        }
    }
    .products_pager {
        .view-mode{
            button {
                &:hover{
                    color: @as-theme-b2b;
                }
            }
        }
    }


    /*Back to top
    -------------------------*/
    .cd-top {
        background: @as-theme-b2b;

        &:hover,
        &:active,
        &:focus{
            background: darken(@as-theme-b2b, 10%);
        }
    }

    ul.wizard{
        li{
            &.text-primary{
                background: @as-theme-b2b;
                color: @as-light;
                .chevron{
                    right: -9px;
                    &:before{
                        border-left-color:@as-theme-b2b;
                    }
                }
            }
        }
    }

    .oe_cart{
        .table-striped{
            td{
                a {
                    color: @as-theme-b2b;
                }
            }
        }

        .oe_website_spinner{
            .js_add_cart_json{
                background: @as-theme-b2b;
            }
        }
    }

    .page-404{
        a{
            color: @as-theme-b2b;
        }
    }

    .js_event {
        .col-md-8{
            .panel-info{
                border-color: @as-theme-b2b;
            }
        }
    }
}

body #theme_customize_modal{

	.modal-dialog{

		#b2b_color{
			padding: 11px 13px;
			.text-center{
				display: none;
			}
			.col-xs-12{
				width: 33%;
				padding: 4px;
			}
			.chd-color-combi{
				width: 100%;
				float: left;
				margin: 0;
				.row{
					height: 40px;
					display: block;
					border:none;
				}
				.colorPreset1{
					background: #e0d2a3;
				}
				.colorPreset2{
					background: #a3d032;
				}
				.colorPreset3{
					background: #37bc98;
				}
				.colorPreset4{
					background: #ff9c00;
				}
				.colorPreset5{
					background: #E91E63;
				}
				.colorPreset6{
					background: #a02d70;
				}
				.colorPreset7{
					background: #9C27B0;
				}
				.colorPreset8{
					background: #673AB7;
				}
				.colorPreset9{
					background: #2196F3;
				}
				.colorPreset10{
					background: #00BCD4;
				}
				.colorPreset11{
					background: #4CAF50;
				}
				.colorPreset12{
					background: #36255C;
				}
				.colorPreset13{
					background: #FFEB3B;
				}
				.colorPreset14{
					background: #795548;
				}
				.colorPreset15{
					background: #9E9E9E;
				}
				.colorPreset16{
					background: #607D8B;
				}
				.colorPreset17{
					background: #FED879;
				}
				.colorPreset18{
					background: #ED3D52;
				}

			}
		}
    }
}