@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,700italic,500italic,400italic,300italic,900);

/*font-family: 'Alegreya', serif;*/
/*font-family: 'Roboto', sans-serif;*/

/*Font*/
@font-family-title: 'Alegreya', serif;

@font-family: 'Roboto', sans-serif;

body {
    font-family:@font-family;
    color: black;
}

.of_lab_title {
    text-align: center;
}

.of_lab_log {
    position: absolute;
    top: 30%;
    right: 2%;
    width: 50px;
}
