// Button box (four buttons horizontally aligned for opportunity view)

.of_width_600 {
    width: 600px !important;
}

.oe_title {
    .of_width_200 {
        width: 200px !important;
    }
}

.of_display_inline_block {
    display: inline-block;
}

.o_pivot_measure_row {
    white-space: normal !important;
    width: 100px !important;
}
