/* Change cursor when mousing over clickable layer 
.leaflet-clickable {
  cursor: crosshair !important;
}*/

.o_map_record {
	cursor: pointer;
	padding: 5px;
	margin: 1px;
	border: 1px solid black;
	border-radius: 3px;
}

.o_nocontent_display_control {
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px;
	font-size: large;
	max-width: 300px;
}