.map--controller {
    height: 100%;
}

.map-renderer {
    position: relative;
    height: 90%;

    &--container {
        height: 100%;
        width: 100%;
    }
}

.map--list-popup {
    position: absolute;
    z-index: 800;
    top: 80px;
    float: inline-start;
}

.map-popup {
    border: 1px solid rgb(75, 73, 73);
    border-radius: 5px;
    &--header {
        text-align: end;
    }

    .map-popup--header {
        right: 0;
    }
}

.leaflet-top {
    z-index: 799 !important;
}
