.map--controller {
    height: 100%;
}

.map-renderer {
    position: relative;
    height: 100%;

    &--container {
        height: 100%;
        width: 100%;
    }
}

.map--list-popup {
    position: absolute;
    z-index: 800;
    top: 80px;
    float: inline-start;
    height: calc(100% - 80px);
    overflow: scroll;
    pointer-events: none;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

}

.map-popup {
    pointer-events: all;
    min-height: 24px;
    border: 1px solid rgb(75, 73, 73);
    border-radius: 5px;

    &--header {
        text-align: end;
    }

    .map-popup--header {
        right: 0;
    }
}

.leaflet-top {
    z-index: 799 !important;
}
