.of_phone_table {
    .o_list_view.table {
        th {
            display: none;
        }
        td {
            background-color: #ffffff !important;
        }
    }
}

.o_form_editable {
    .of_phone_table {
        .o_list_view.table {
            tbody > tr {
                border-bottom: 1px solid;
                border-color: #ccc;
            }
        }
    }
}

.o_control_panel {
    .breadcrumb {
        > li {
            max-width: 90vw;
        }
    }
}

// Largeur de la partie concernant les paiements en bas du formulaire des factures.

.o_form_view .o_group.o_inner_group.oe_subtotal_footer.o_inner_group {
    width: 400px!important;
}
