.inline-heading {
    display: inline;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.inline-heading-web {
    background: #337ab7;
}

.inline-heading-duplicated {
    background: red;
    margin-left: 10px;
}
