.of_kanban_selection {
	display: inline-block;
}

.of_kanban_char {
	display: inline-block;
}

.of_kanban_bool {
	display: inline-block;
}

.of_kanban_date {
	display: inline-block;
}

.of_input {
	border: none;
	display: inline-block;
}

.of_input_edit {
	display: inline-block;
}

.of_fa_button {
	background: none;
	padding: 0px;
	border: none;
	display: inline-block;
}

.of_fa_button_i {
	display: inline-block;
}
