.in-stock {
    font-size: 13px !important;
    font-weight: normal !important;
    padding: 15px 40px !important;
    left: unset !important;
    top: unset !important;
    width: unset !important;
    margin-bottom: 20px;
}

.out-of-stock {
    font-size: 13px !important;
    font-weight: normal !important;
    padding: 15px 40px !important;
    left: unset !important;
    top: unset !important;
    width: unset !important;
}